<!-- Widget timeline -->
<div class="widget">
  <div class="widget_title"><h3>Ads Contents</h3></div>
  <div class="tb_widget_timeline clearfix">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- First Ad in sidebar -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7353085750925432"
         data-ad-slot="7380643304"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>    
  </div>
</div><!-- End Widget timeline -->
